body {
    background-color: #414A4C;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
}

#container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#left {
    float: left;
    text-align: left;
    width: 35%;
    height: 500px;
}

#center {
    margin: 0 auto;
    width: 386px;
    height: 446px;
}

#right {
    float: right;
    width: 25%;
    height: 100px;
}

#todolistHeading {
    padding-left: 20px;
    font-weight: bold;
}

#console {
    border: 0 none;
    outline: 0 none;
    overflow: hidden;
    padding: 0;
    text-indent: 4px;
    margin: 0;
    width: 386px;
    opacity: 0.25;
    color: #f7f7f7;
    background: #333;
    resize: none;
    line-height: 1.8;
    transition: opacity 0.4s ease;
}

#console:focus {
    opacity: 1;
}

.todolist {
    color: #FCFFFC;
    font-family: "Roboto", "Consolas", "Helvetica", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.time {
    height: 176px;
    position: relative;
    color: #FCFFFC;
    font-family: "Roboto", "Consolas", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 150px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    position: relative;
}

#clock {
    display: inline-block;
    margin: 0;
}

#weather {
    display: inline-block;
    position: absolute;
    top: 55px;
    margin: 0;
    display: inline-block;
    font-family: "Roboto", "Consolas", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: -1px;
}

#weather p {
    margin: 0;
}

#weather p:last-child {
    padding-bottom: 20px;
}

.topPanel p {
    margin: 0;
    display: inline;
}

#showToDoList {
    position: absolute;
    font-size: 25px;
    font-weight: normal;
    left: 10px;
    bottom: 10px;
    transition: color 0.3s ease;
}

#showToDoList:hover {
    color: #FCFFFC;
}

.hexagone {
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.top-l, .top-r, .mid-l, .mid, .mid-r, .bot-l, .bot-r {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.top-l {
    left: 0;
    right: 128px;
}

.top-r {
    left: 128px;
    right: 0;
}

.mid {
    left: 0;
    right: 0;
    top: 111px;
}

.mid-l {
    left: 0;
    right: 256px;
    top: 111px;
}

.mid-r {
    right: 0;
    left: 256px;
    top: 111px;
}

.bot-l {
    left: 0;
    right: 128px;
    top: 222px;
}

.bot-r {
    left: 128px;
    right: 0;
    top: 222px;
}
